<% 
function isFiltered(filter, card) {
  let filtered = false;

  if(filter.color) {
    if(filter.color.includes('Colorless') && card.colors.length === 0) {
      filtered = true;
    }
  
    card.colors.forEach(color => {
      if(filter.color.includes(color)) {
        filtered = true;
      }
    })
  }
  if(filter.rarity) {
    if(filter.rarity.includes(card.rarity)) {
      filtered = true;
    }
  }

  return filtered;
}
%>
<section id="card-display">
  <% if(tier) { %>
    <% for(let i = 1; i <= 8; i++) { %>
      <h1 class="tier-h1"><%= `Tier ${i}` %></h1>
      <div class="tier<%= i %>">
        <% cards.forEach(card => { %>
          <% if(card.pickOrder && card.imageUrl) { %>
            <% if(!isFiltered(filter, card) && card.tier === i) { %>
                <img class="card-img" src="<%= card.imageUrl %>" alt="<%= card.pickOrder %>">     
            <% }; %>
          <% } %>
        <% }); %>
      </div>
    <% } %>
  <% } else { %>
    <div class="tier0">
      <% cards.forEach(card => { %>
        <% if(card.pickOrder && card.imageUrl) { %>
          <% if(!isFiltered(filter, card)) { %>
              <img class="card-img" src="<%= card.imageUrl %>" alt="<%= card.pickOrder %>">     
          <% }; %>
        <% } %>
      <% }); %>
    <% } %>
    </div>
</section>