<%- include('../partials/header') %>
<script defer src="/javascripts/pickOrders/show.js"></script>
<section id="show-body">
<form action="/pickorders/<%= pickOrder._id %>?_method=PUT" method="POST">
    <div class="center">
        <span class="big">
            Pick Order:
        </span>
        <input id="pick-order-name-input" type="text" name="pickOrderName" value="<%= pickOrder.name %>" required>
    </div>
    <div id="picks">
        <div class="form">
            <div class="flex-row">
                <a class="button" href="/users">Back</a>
                <input type="reset" value="Reset">
                <input type="submit" value="Save Changes">
            </div>
            <% pickOrder.picks.forEach(pick => { %>
                <% if(pick.pickOrder) { %>
                    <div class="pick row <%= pick.pickOrder % 2 === 0 ? '' : 'gray' %>">
                        <img class="hidden-img" src="<%= imageUrls[pick.name] %>" alt="">
                        <div class="cell">
                            <input type="hidden" name="name" value="<%= pick.name %>">
                            <span class="pick-name"><%= pick.name %></span>
                        </div>
                        <div class="cell-middle">
                            <span>Pick Order:</span>
                            <input type="number" name="pickOrder" value="<%= pick.pickOrder %>" min="0" max="500" required>
                        </div>
                        <div class="cell-end">
                            <span>Tier:</span>
                            <input type="number" name="tier" value="<%= pick.tier %>" min="1" max="8" required>
                        </div>
                    </div>
                <% } %>
            <% }); %>
        </div>
    </div>
</form>
</section>
<%- include('../partials/footer') %>